body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to right, #fad0c4, #ffd1ff); /* Soft pastel gradient */
    color: #333;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.example {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #ffffff, #ccffd1); /* Soft pastel gradient */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.screenshot {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default spacing around the image */
    margin: 10px auto; /* Center the image with some margin */
}


.example h2 {
    color: #1e4875;
    text-align: center; /* Center the title */
}

.screenshot-placeholder {
    border: 1px dashed #999;
    padding: 10px;
}

.description {
    color: #852e2e;
}
