/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

section {
    background-color: #0c0c0c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(226, 12, 12, 0.1);
    padding: 20px;
}

h2 {
    color: #faf5f5;
}

img {
    max-width: 100%;
    border-radius: 4px;
}
